<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Snippet</title>
<title>{{title}}</title>

<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/js/lib/treant/Treant.css" type="text/css"/>
<link rel="stylesheet" href="/css/timeline.css">
<link rel="stylesheet" href="/css/bootstrap-datepicker3.min.css">

<link rel="stylesheet" href="/css/nouislider.min.css">

<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/js/lib/scrollbar/jquery.mCustomScrollbar.css" />


<link href='https://fonts.googleapis.com/css?family=Poppins:400,500' rel='stylesheet' type='text/css'>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->
	
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
	
<!-- <script src="/js/lib/progressbar-colored.js"></script> -->

</head>
<body>

<div id="app" class="vbox" >{{{html}}}</div>

<script>
  window.INITIAL_STATE = {{{toJSON initialState}}};
</script>


<script src="js/lib/treant/vendor/raphael.js"></script>
<script src="js/lib/treant/Treant.js"></script>
<script src="js/lib/familytree.js"></script>

<script src="js/lib/jquery.js"></script>
<script src="js/lib/bootstrap.js"></script>
<script src="js/lib/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="js/lib/snippet-charts.js"></script>

<script src="js/lib/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

<script src="js/lib/noUiSlider/nouislider.min.js"></script>

	
<script src="/js/bundle.js"></script> 


<script>
	//new Treant( tree_structure );
</script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="js/lib/ie10-viewport-bug-workaround.js"></script> -->



<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="js/lib/ie10-viewport-bug-workaround.js"></script> -->
<script type="text/javascript">
	/*google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(drawAllCharts);
	function drawAllCharts(){
		inp = [
				  ['2008', 250],
				  ['2009', 300],
				  ['2010', 270],
				  ['2011', 250],
				  ['2012', 199],
				  ['2013', 210],
				  ['2014', 290],
				  ['2015', 220],
				  ['2016', 230]
			];
		drawChart(inp, 'cholesterol-level');
		drawChart(inp, 'hdl-level');
		drawChart(inp, 'ldl-level');
		drawChart(inp, 'triglyceride-level');
	}*/
	
</script>

</body>
</html>
