/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

$body-bg: #f4f4f4;
$line-height-base: 1.57142857;
$link-color: #1d7cf4;
$link-hover-decoration: none;

$brand-success: #29b35b;
$brand-danger: #b61b17;

$font-family-base: 'Poppins',"Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight: 600;

$alert-info-border: #31708f;
$alert-success-border: darken($brand-success, 12%);
$alert-success-text: #fff;
$alert-success-bg: $brand-success;
$alert-danger-border: #b61b17;
$alert-danger-text: #b61b17;
$alert-danger-bg: #ffcdd2;

$administrative-bar-height: 90px;
$navbar-height: 50px;
$navbar-default-bg: #fff;
$navbar-default-border: #e0e0e0;
$navbar-default-color: #757575;
$navbar-default-link-color: #262626;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-active-color: #262626;

$panel-heading-padding: 15px 30px;
$panel-body-padding: 30px 25px;

@import url("//fonts.googleapis.com/css?family=Poppins:400,500%7COpen+Sans:300,400,600,700,800%7CRaleway:100,300,600,700,800");
@import "vendor/bootstrap";
@import "elements/progressbar_colored";
@import "elements/familytree";


$bglight_gray:#f5f5f5;

//$color_dark: #1f2b35;
$color_dark: #D37941;

//$color_darker: #273643;
$color_darker: #E58553;

//$color_darkgreen: #2f4050;
$color_darkgreen: #6E999A;

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  // margin-bottom: 44px;
}

footer {
  position: absolute;
  width: 100%;
  height: 44px;
  padding: 10px 30px;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
}

p{
	margin: 0px;
}
.login-container {
  max-width: 555px;
}

// Alerts
// -------------------------

.alert {
  border-width: 0 0 0 3px;
}

// Navbar
// -------------------------

.nav-active{
	border-bottom-color:#3f51b5;
}

.bg-dark{
	background-color:$color_dark;
	color:#FFF;
}
.bg-dark .nav > li > a:hover, .bg-dark .nav > li > a:focus {
    color: #fff;
    background-color: $color_dark;
}
.bg-dark .nav > li > a, .bg-dark a {
    color: #fff;
}
.bg-darker{
	background-color:$color_darker;
	color:#FFF;
}
.bg-darker .nav > li > a:hover, .bg-darker .nav > li > a:focus {
    color: #fff;
    background-color: $color_darker;
}
.bg-darker .nav > li > a, .bg-darker a  {
    color: #fff;
}

.bg-darkgreen{
	background-color:$color_darkgreen;
	color:#FFF;
}
.bg-darkgreen .nav > li > a:hover, .bg-darkgreen .nav > li > a:focus {
    color: #fff;
    background-color: $color_darker;
}
.bg-darkgreen .nav > li > a, .bg-darkgreen a  {
    color: #fff;
}
.text-lgreen{
	color:#3ebab2;
}
.text-gray{
	color:#838383;
}
.text-blue{
	color:$color_darkgreen;
}
.text-red{
	color:#fe545f !important;
}

.text-success{
	color:#4eba4c;
}
.text-danger{
	color:#fe0000;
}
.text-warning{
	color:#ffa500;
}

.top-bar.navbar, .administrative-bar.navbar {
    min-height: 0;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    padding: 0;
}
.top-bar{
	font-size:12px;
}
.administrative-bar{
	
}
.administrative-bar.navbar{
	min-height:$administrative-bar-height;
	padding-top:15px;
	padding-bottom:15px;
}
.navbar-brand img {
    margin-top: -4px;
    vertical-align: middle;
}
.navbar-brand {
    text-align: center;
}
.aside-md {
    width: 360px;
    min-width: 360px;
}
.logo-text{
	padding:15px 20px;
	letter-spacing: 0.05em;
}
.logo-container{
	margin: auto;
	width: 212px;
}
.m-n{
	margin: 0 !important;
}
.m-b{
	margin-bottom:25px;
}
.m-r{
	margin-right:25px;
}
.m30-r{
	margin-right:30px;
}
.m30-t{
	margin-top:30px;
}

.m15-r{
	margin-right:15px;
}
.m15-t{
	margin-top:15px;
}
.m15-l{
	margin-left:15px;
}
.m15-b{
	margin-bottom:15px;
}
.m5-b{
	margin-bottom:5px;
}
.align-center{
	text-align:center;
}
.align-left{
	text-align:left;
}
.align-right{
	text-align:right;
}
.text-medium{
	font-size:13px;
	line-height:18px;
	letter-spacing: 0.05em;
}
.text-small{
	font-size:12px;
	line-height:12px;
}
.text-smallx{
	font-size: 11.5px;
	line-height: 18.29px;
	letter-spacing: 0.05em;
}
.text-muted {
    color: #838383;
	font-size:12px;
}
.text-desc1{
	line-height: 24px;
	letter-spacing: 0.05em;
}
.font-regular{
	font-weight:500;
}
.font-semibold{
	font-weight:600;
}
.text-italic{
	font-style:italic;
}
.vertical-middle,  .vertical-middle *{
	vertical-align:middle;
}
.vertical-text {
	transform: rotate(-90deg);
	display: inline-block;
}

.avatar img {
    border-radius: 500px;
}
.thumb img, .thumb-xs img, .thumb-sm img, .thumb-md img, .thumb-lg img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
#user-info img{
	width:55px;
	height:55px;
}
#user-info .avatar {
    width: 68px;
	height:55px;
}

#user-info p{
	margin-bottom:10px;
}
#user-info .gen-info{
	padding-top:8px;
	padding-bottom:8px;
}
#user-info{
	width:294px;
}
.administrative-alert{
	padding-top: 15px;
	width: 66px;
}
.administrative-item{
	font-size:14px;
	line-height:36px;
	letter-spacing:0.01em;
	margin-right: 40px;
	padding-top: 15px;
}
.administrative-item img{
	margin-right:10px;
}

.searchbar{
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.05em;
	background-color: transparent;
	color: #FFF;
	padding: 5px 20px;
	border-radius: 34px;
	height: 30px;
	font-style:italic;
	border: 1px solid #FFF;
	width:300px;
}
.search-blue{
	color: $color_darkgreen !important;
	border-color: $color_darkgreen !important;
}
.searchbar-container .search-icon{
	position: relative;
	right: 35px;
}

//Sidebar Style:....
html, body {
    height: 100%;
}
.content-wrapper{
	height:100%;
}

.vbox{
	display:table;         
	width:100%;         
	border-spacing:0px;/*cellspacing:poor IE support for  this*/
	height: 100%;
	min-height: 100%;
}
.hbox{
	display:table;
	width:100%;
	clear:both;
}
.clear{
	clear:both;
}
.colbox{
	padding:0px;
	vertical-align: top;
	float:none;/*fix for  buggy browsers*/
	display:table-cell;         
}
.divtable{
	display:table;
}
.table-row{
	display:table-row;
}
.table-cell{
	display:table-cell;
	vertical-align:middle;
}
.vbox aside{
	height:100%;
}
#sidebar{
	padding:40px 25px;
}
.patient-img-container{
	padding-right:20px;
}
.patient-profile-body{
	padding-top:30px;
	padding-bottom:30px;
}
.patient-profile-body .contact-info{
	padding-bottom: 10px;
}

.sidebox{
	margin-right: -25px;
	margin-left: -25px;
	.sidebox-body{
		padding-right: 25px;
		padding-left: 25px;
	}
}
.sidebox-head{
	padding: 20px 25px;
}
.sidebox .head-border{
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}
.patient-menu{
	margin:15px 0px;
}
.patient-menu .menu-item {
    padding: 15px 30px;
    margin: 0px -25px;
}
.patient-menu .menu-item-active{
	background-color:$color_darker;
	color:#70869b;
	border-right: 3px solid #fe545f;
}
.menu-item img{
	margin-right: 10px;
}
.menu-item.menu-item-active img{
	opacity: 0.7;
}
.menu-item .submenu{
	padding: 15px 0px;
	margin: 0px -35px;
}
.submenu .menu-item{
	padding-left: 95px;
	margin-right: 5px;
}
.list-item{
	margin-bottom:15px;
}
li.bulleted{
	list-style-type: disc;
}
//GENERAL ELEMENTS STYLE
#content{
	background-color:#f4f4f4;
}
#content .content-box{
	background-color:#FFF;
	margin: 30px;
	padding:30px;
	box-shadow: 0.6px 0.5px 0px #ccc;
}
.title-section{
	color:#838383;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.1em;
	margin: 0px 0px 30px 0px;
}
.panel-heading img{
	margin-top: -12.5px;
	margin-bottom: -10.5px;
}
.panel-heading .nav {
    font-size: 13px;
    border: none;
	margin: -14px -30px -28px;
	.fa{
		font-size:20px;
	}
}
.panel-heading .nav > li > a {
    border-radius: 0;
    margin: 0;
    border-width: 0;
	color: #838383;
}
.panel-body{
	color:#838383;
}
.panel .list-group-item{
	padding:$panel-body-padding;
}

.circle-yellow-x1:before{
	content:url(../images/yellow_circle.png);
	padding-right:10px;
}
.circle-yellow-x4:before{
	content:url(../images/yellow_circle.png)" "url(../images/yellow_circle.png)" "url(../images/yellow_circle.png)" "url(../images/yellow_circle.png);
	padding-right:10px;
}
.circle-yellow-x5:before{
	content:url(../images/yellow_circle.png)" "url(../images/yellow_circle.png)" "url(../images/yellow_circle.png)" "url(../images/yellow_circle.png)" "url(../images/yellow_circle.png);
	padding-right:10px;
}
.circle-red-x1:before{
	content:url(../images/red_circle.png);
	padding-right:10px;
}
.circle-green-x1:before{
	content:url(../images/green_circle.png);
	padding-right:10px;
}
.icon-cross-arrow-gray:before{
	content:url(../images/cross_arrow_gray.png);
	padding-right:10px;
	position: relative;
	top: 3px;
}
.icon-calendar:before{
	content:url(../images/calendar_icon.png);
	padding-right:10px;
	position: absolute;
	top: -3px;
}
.cameleon-calendar, .cameleon-calendar-year{
	float: right;
	width: 130px;
	margin: -6px;
}
.cameleon-calendar.date-checkpoint{
	float:none;
	width: 80px;
	background-color: transparent;
	border: none;
	margin:0px;
	
}
.cameleon-calendar input, .cameleon-calendar-year input{
	padding: 2px 10px;
	background: transparent;
	border: none;
	box-shadow: none;
	color: #838383;
	font-weight: normal;
}
.cameleon-calendar .icon, .cameleon-calendar-year .icon{
	padding: 0px 10px 4px;
	font-size: 16px;
	border: none;
	background-color: transparent;
}
.filter-date-schedule input{
	width: 142px !important;
	font-weight: bold;
	font-size: 13px;
	color: #000;
}

.table th, .table td{
	min-width: 98px;
	vertical-align: middle !important;
}
.patient-risk-desc{
	line-height: 24px;
}

.vtree-line{
	margin: 0px;
	position: relative;
	width: 130%;
	transform: rotate(90deg);
	right: 0px;
	border-color: $color_darkgreen;
	margin-right: -10px;
	top: 5px;
}
/** Table normal **/
.table-normal{
	margin-bottom: 21px;
	background-color: #fff;
	border: solid 1px rgba(160, 160, 160, 0.3);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	width:100%;
}
.table-normal thead tr{
	color: #838383;
	border-color: #ddd;
}
.table-normal thead th{
	font-size: 14px;
	font-weight: 600;
	line-height: 14px;
	padding: 10px 30px;
}
.table-normal th, .table-normal td{
	padding-left: 15px;
	padding-right: 15px;
	position:relative;
	padding: 30px;
}
.table-normal tbody td{
	padding: 20px 0px;
	text-align:center;
}
.table-normal.align-left tbody td{
	text-align:left;
	padding: 20px;
}
.table-normal.align-left thead th{
	text-align:left;
	padding: 10px 20px;
}
.table-normal .t-line{
	padding: 20px 15px;
	text-align: initial;
}
.table-normal .cell-cont{
	padding:26px 0px;
	background-color: $bglight_gray;
}
/** END: Table normal **/

.no-border{
	border:none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.border-b-solid{
	border-bottom:1px solid #ccc;
}
.border-t-solid{
	border-top:1px solid #ccc;
}
.border-b-dashed{
	border-bottom:1px dashed #ccc;
}
.border-t-dashed{
	border-top:1px dashed #ccc;
}

/** Table dashed bordered **/
.table-dashed-bordered th{
	border:1px solid #ccc;
}
.table-dashed-bordered td{
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.table-dashed-bordered tbody tr td{
	border-bottom:1px dashed #ccc;
}
.table-dashed-bordered tbody tr:last-child  td{
	border-bottom:1px solid #ccc;
}
/** END: Table dashed bordered **/


.table-panel{
	margin-bottom: 21px;
	background-color: #fff;
	border: solid 1px rgba(160, 160, 160, 0.3);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	width:100%;
}
.table-panel-bordered th, .table-panel-bordered td{
	border:1px solid #ccc;
}
.table-panel th{
	border-bottom:solid 1px rgba(160, 160, 160, 0.3);;
}
.table-panel thead tr{
	color: #838383;
	background-color: #f5f5f5;
	border-color: #ddd;
}
.table-panel thead th{
	font-size: 14px;
	font-weight: 600;
	line-height: 14px;
	padding: 15px 30px;
}
.table-panel th, .table-panel td{
	padding-left: 15px;
	padding-right: 15px;
	position:relative;
	padding: 30px;
}

.table-panel tbody tr:first-child td{
	padding-top: 30px;
}
.table-panel tbody  tr:last-child td{
	padding-bottom: 30px;
}
.table-panel tbody tr td:first-child{
	padding-left: 28px;
}
.table-panel tbody tr td:last-child{
	padding-right: 28px;
}
.table-panel-4x td, .table-panel-4x th, .td-25{
	width:25%;
}
.td-35{
	width:35%;
}
.td-40{
	width:40%;
}
.table-panel .nav > li > a, .table-panel .nav > li > span, .nav > li > span {
    position: relative;
    display: block;
	padding: 12px 20px;
	margin: -13px -30px -13px 0px;
}
.table-panel th img{
	margin: -5px -5px -5px 10px;
}
.table-panel .icon-calendar::before {
    position: absolute;
    top: 12px;
}
.table-fluent-td td, .table-fluent-td th{
	width:auto;
}
.a-pointer:hover{
	cursor:pointer;
	border-radius:4px;
	background-color: rgba(131,131,131,0.2);
}
/* this is the box */
.arrowangle {
    /*margin: 15px 30px;
    width: 200px;
    background: #fff;
    border: 1px solid #a00;
    position: relative;
    min-height: 200px;
    padding: 20px;
    text-align: center;
    color: #fff;
    font: bold 1.5em/180px Helvetica, sans-serif;
    text-shadow: 0 0 1px #000;*/
}

/* this CS forms the triangles */
.arrowangle:after,
.arrowangle:before {
    content: '';
    display: block;
    position: absolute;
    left: 99.9%;
    width: 0;
    height: 0;
    border-style: solid;
}
.arrowangle.arrowangle-left:after, .arrowangle.arrowangle-left:before{
	left: -0.7%;
}

/* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
.arrowangle:after {
    top: 44%;
    border-color: transparent transparent transparent #fff;
    border-width: 15px;
}

/* this border color controlls the outside, thin border */
.arrowangle:before {
    top: 43.8%;
    border-color: transparent transparent transparent #ccc;
    border-width: 16px;
}
.btn{
	padding:10px 20px !important;
	font-size:10px !important;
	border-radius: 1px;
	min-width:137px;
	text-align:center;
}
.btn-default{
	border-color:$color_darkgreen !important;
	background: #fff !important;
	color:$color_darkgreen !important;
}
.btn-primary{
	border-color:$color_darkgreen !important;
	background-color: $color_darkgreen !important;
	color:#fff !important;
}
.button-row{
	margin: 0px 0px 30px 0px;
}
.button-row .btn{
	margin-right: 30px;
}

//
.timeline .table-cell{
	padding: 20px 0px;
}
.timeline .table-row .table-row > .table-cell{
	border-bottom: 1px dashed #ccc;
}
.timeline .table-row .table-row > .table-cell:first-child{
	text-align: center;
}
.well {
    min-height: 20px;
    padding: 15px;
    margin-bottom: 0px;
    background-color: #f5f5f5;
    border: 0px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.circle{
	display: inline;
	border: 1px solid #000;
	border-radius: 26px;
	padding: 10px;
	height: 30px;
	width: 35px;
	background-color: #FFF;
	z-index: 1;
	position: relative;
}

//Default style:...
.navbar-default .navbar-nav > li > a {
  border-bottom: 3px solid transparent;
  padding-bottom: ($navbar-padding-vertical - 3);
  transition: all 0.25s;
  &:hover {
    border-bottom-color: #bdbdbd;
  }
  &.navbar-avatar {
    padding-top: $navbar-padding-vertical - 4.5;
    padding-bottom: ($navbar-padding-vertical - 4.5) - 3;
    img {
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
  }
}

.navbar-default .navbar-nav > li.active > a {
  border-bottom-color: #3f51b5;
}

// Panels
// -------------------------

.panel {
  border: solid 1px rgba(160, 160, 160, 0.3);
  // box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.panel-body {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

.panel-title {
  font-size: 18px;
  color: #424242;
}

// Buttons
// -------------------------

.btn-toolbar > .btn {
  float: none;
  margin-bottom: 5px;
}

.btn {
	font-weight: 600;
	border-radius: 1px;
	padding: 8px 20px !important;
	font-size: 11px !important;
	border-radius: 1px;
	min-width: 137px;
	text-align: center;
	line-height: 12px;
  &:focus {
    outline: 0 !important;
  }
}

.btn-default {
  border-color: #ccc;
  background: #f5f5f5 linear-gradient(to bottom, #fff, #f5f5f5);
  // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 -1px 4px rgba(151, 159, 175, 0.2);
  &:active {
    background: darken(#f5f5f5, 6%) linear-gradient(to bottom, darken(#fff, 6%), darken(#f5f5f5, 6%));
  }
}

.btn-success {
  border-color: #208a46;
  background: #29b35b linear-gradient(to bottom, #2ec866, #29b35b);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(32, 138, 70, 0.3);
  &:active {
    background: darken(#29b35b, 6%) linear-gradient(to bottom, darken(#2ec866, 6%), darken(#29b35b, 6%));
  }
}

.btn-danger {
  border-color: #8c1512;
  background: #b61b17 linear-gradient(to bottom, #cc1e1a, #b61b17);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(140, 21, 18, 0.3);
  &:active {
    background: darken(#b61b17, 6%) linear-gradient(to bottom, darken(#cc1e1a, 6%), darken(#b61b17, 6%));
  }
}

.btn-facebook {
  color: #fff;
  border-color: #335190;
  background: #3b5998 linear-gradient(to bottom, #4263a9, #3b5998);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(59, 89, 152, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-twitter {
  color: #fff;
  border-color: #009fdb;
  background: #00aced linear-gradient(to bottom, #05baff, #00aced);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(0, 172, 237, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-google {
  color: #fff;
  border-color: #d54331;
  background: #dd4b39 linear-gradient(to bottom, #e05d4d, #dd4b39);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(221, 75, 57, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-vk {
  color: #fff;
  border-color: #4f7192;
  background: #587ea3 linear-gradient(to bottom, #678aad, #587ea3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(79, 113, 146, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-github {
  color: #fff;
  border-color: #444;
  background: #545454 linear-gradient(to bottom, #616161, #545454);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(68, 68, 68, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

// Forms
// -------------------------

textarea {
  resize: none;
}
.form-control {
	height: auto;
	padding: 8px 12px;
	border: 1px solid $color_darkgreen;
	border-radius: 0;
	box-shadow: inset 0 1px 1px rgba(150, 160, 175, 0.1), inset 0 1px 2px rgba(150, 160, 175, 0.05);
	font-size: 12px;
	line-height: 12px;
	text-align: center;
}
.cameleon-calendar .form-control:focus{
	box-shadow:none;
}
.form-group > label {
  text-transform: uppercase;
  font-size: 13px;
}


.hr-title {
  height: auto;
  margin-top: 20px;
  border-top: 1px solid;
  color: #bbb;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

.hr-title span {
  position: relative;
  padding: 2px 10px;
  top: -10px;
  background-color: #fff;
  border-radius: 2px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.fadein-show {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.fadein-hide {
    opacity: 0;
    height: 0px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.nav .panel-toggle{
	margin-right: -15px;
	font-size: 14px;
}


// Forms
// -------------------------
.input-sm{
	min-width:137px;
}
.input-sx{
	width:50px;
	
}
.input-min{
	min-width:0px;
}
.inline-input{
	display:inline;
	width:initial;
}
.month-input, .day-input{
	width:50px;
}
.year-input{
	width:80px;
}
.date-group-form{
	display:inline;
	margin-right: 5px;
}
.date-group-form input{
	display:inline;
	margin-right: 5px;
}

.switch-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.switch-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.switch-toggle-round + label {
  padding: 2px;
  width: 100%;
  height: 0px;
  background-color: #d5d5d5;
  border-radius: 60px;
}
input.switch-toggle-round + label:before,
input.switch-toggle-round + label:after {
	display: block;
	position: absolute;
	top: -5px;
	left: 0px;
	content: "";
}
input.switch-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
input.switch-toggle-round + label:after {
	width: 15px;
	background-color: #435565;
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: left 0.4s;
	height: 15px;
}
input.switch-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.switch-toggle-round:checked + label:after {
  left: 70%;
}
.switch{
	min-width: 50px;
	margin-left: 10px;
	position: relative;
	top: 3px;
	padding: 5px 0px;
}
.text-small .switch{
	top: 0px;
}

.care-options .switch{
	padding: 30px 0px;
	position: relative;
	top: 3px;
}

#careplan-calendar{
	margin-top: 25px;
}
.care-activities{
	width:244px;
	border-right: 2px solid #b0bac2;
}
.care-activities, .care-calendar-container{
	float:left;
}

.care-calendar-container{
	overflow:hidden;
	overflow-x: scroll;
	width:844px;
}
.care-row{
	height: 70px;
	line-height: 70px;
	padding: 0px 10px;
}
.care-activity-primary, .care-activity-secondary{
	border-top:1px solid #b0bac2;
}
.care-activity-primary, .row-primary{
	background-color:#f6f6f6;
}
.care-activity{
	border-top:1px dashed #b0bac2;
}
.year-calendar{
	text-align:center;
	width: 842px;
}
.months-row .cell{
	width:70px;
	float:left;
	border-left:1px dashed #b0bac2;
	height: 100%;
}
.cells-container .cell{
	width:70px;
	float:left;
	height:70px;
	line-height: 70px;
	border-left:1px dashed #b0bac2;
	border-top:1px dashed #b0bac2;
}

.calendar-header .months-row{
	height:37.5px;
}
.calendar-header .year-cell{
	height:32.5px;
	border-left: 1px dashed #b0bac2;
	border-right: 1px dashed #b0bac2;
}
.row-primary .cell{
	border-bottom:none;
}
.row-primary .cell, .row-secondary .cell{
	border-top: 1px solid #b0bac2;
}
.year-cell .cell-container{
	background-color:#c6d3e0;
	height:100%;
	margin:0px 5px;
}
.calendar-header .cell-container{
	line-height:29px;
}
.months-row .cell-container{
	background-color:#c6d3e0;
	margin: 5px 2.5px 5px 2.5px;
	height: 29px;
}
.months-row .cell:first-child .cell-container{
	margin-left:5px;
}
.months-row .cell:last-child .cell-container{
	margin-right:5px;
}
.months-row .cell:last-child{
	border-right:1px dashed #b0bac2;
}


.care-row p{
	margin-top: 25px;
	margin-bottom: 25px;
}

.care-calendar-container .mCSB_scrollTools.mCSB_scrollTools_horizontal{
	top:-15px !important;
}

.hidden, .parent-hidden, .root-hidden{
	display:none;
}
.rowcollapser{
	padding: 15px 20px;
	margin: -15px -5px;
	
}



/* Pharmacogenomics */

#medication-interactions .icon-status, #interactions .icon-status{
	font-size:50px;
	display: block;
}

#successful-treatments td:last-child, #medication-interactions td:last-child, #interactions td:last-child{
	text-align:center;
	width:10%;
	border-left:none;
}
#successful-treatments td:nth-last-child(2), #medication-interactions td:nth-last-child(2), #interactions td:nth-last-child(2){
	border-right:none;
}

#successful-treatments  tr:first-child td, #medication-interactions  tr:first-child td{
	padding-top: 10px !important;
	padding-bottom: 10px;
}

#genomics th{
	border:none;
}

#genomics td:last-child{
	width:30%;
}
#genomics td:first-child{
	width:25%;
}

/* Accordion */
.accordion{
	padding: 5px 10px 5px 10px;
	font-weight: bold;
}
.accordion.accordion-default{
	color: #838383;
	border: 1px solid $color_darkgreen;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.accordion:hover{
	cursor:pointer;
	color: $color_darkgreen;
}

.accordion .fa{
	line-height: 20px;
	font-size: 15px;
}
.accordion-container{
	padding: 25px 10px 10px 10px;
	border: 1px solid $color_darkgreen;
	border-top: none;
}


/** Emergency Care **/
#common-conditions-tree{
	height: 300px;
}
#common-conditions-tree .node{
	margin-left: 20px;
}
#common-conditions-tree .node-desc{
	position: absolute;
	top: -10px;
	margin-left: -40px;
	
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.05em;
	color:$color_darkgreen;
}
#common-conditions-tree .last-childs .node-desc{
	top: -10px;
}
#common-conditions-tree .root-node .node-name{
	min-width: 90px;
	min-height: 90px;
	margin: 0px;
	display: table-cell;
	height: 90px;
	width:90px;
	vertical-align: middle;
	text-align: center;
	color:$color_darkgreen;
	font-size: 16px;
}
#common-conditions-tree .root-node{
	left: 627.5px;
	top: 139.5px;
	border: 2px solid $color_darkgreen;
	padding: 27px;
	border-radius: 74%;
	margin-left:-20px;
	margin-right:20px;
}
#common-conditions-tree .root-node .node-desc{
	top: 150px;
	text-align: center;
	overflow: visible;
	width: 189px;
}
#common-conditions-tree .last-childs .node-name, #common-conditions-tree .childs .node-name{
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.05em;
	color:$color_darkgreen;
}
#common-conditions-tree .childs, #common-conditions-tree .last-childs{
	width: 330px;
}
/** END: Emergency Care **/

/** Genomics **/
.icon-inline{
	position: relative;
	top: -3px;
	margin-right: 10px;
}
/** END: Genomics **/


/* Sizes */
.labtests-h{
	height:85px;
	padding-top: 50px;
}

/* Lists */
ol.lower-alpha{
	list-style-type: lower-alpha;
}
.dl-horizontal dt {
    width: 60px;
}
.dl-horizontal dd {
    margin-left: 70px;
}


/* .checkbox-primary */
.checkbox-primary {
	width: 24px;
	height: 24px;
	position: relative;
	background: #b3bead;
	float: left;
	margin-right: 5px;
	display: inline;
}
.checkbox-primary label {
	width: 18px;
	height: 18px;
	cursor: pointer;
	position: absolute;
	left: 3px;
	top: 3px;
	background-color:#fff;
}
.checkbox-primary label:after {
	content: '';
	width: 12px;
	height: 7px;
	position: absolute;
	top: 4px;
	left: 4px;
	border: 3px solid #ccc;
	border-top: none;
	border-right: none;
	background: transparent;
	opacity: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkbox-primary label:hover::after {
  opacity: 0.3;
}
.checkbox-primary input[type=checkbox] {
  visibility: hidden;
}
.checkbox-primary input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* end .checkbox-primary */