.progressbar-colored, .progressbar-colored * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.progressbar-colored .snip-progress-bar{
	position: relative;
	height: 2px;
	background: rgb(255, 0, 0);
	background: -moz-linear-gradient(left, rgba(255, 0, 0, 1) 0%,  rgba(255, 255, 0, 1) 50%, rgba(0, 255, 0, 1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 0, 0, 1)), color-stop(50%, rgba(255, 255, 0, 1)), color-stop(100%, rgba(0, 255, 0, 1)));
	background: -webkit-linear-gradient(left, rgba(255, 0, 0, 1) 0%,  rgba(255, 255, 0, 1) 50%, rgba(0, 255, 0, 1) 100%);
	background: -o-linear-gradient(left, rgba(255, 0, 0, 1) 0%,  rgba(255, 255, 0, 1) 50%, rgba(0, 255, 0, 1) 100%);
	background: -ms-linear-gradient(left, rgba(255, 0, 0, 1) 0%,  rgba(255, 255, 0, 1) 50%, rgba(0, 255, 0, 1) 100%);
	background: linear-gradient(to right, rgba(255, 0, 0, 1) 0%,  rgba(255, 255, 0, 1) 50%, rgba(0, 255, 0, 1) 100%);
	// filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#00ff00', GradientType=1);
}
.snip-progress-label{
	width: 54px;
	height: 36px;
	position: relative;
	top: -20px;
	padding: 1px;
}
.progressbar-colored .snip-label{
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: #FFF;
	padding: 1px;
	font-size: 12px;
}
.progressbar-colored{
	// padding:15px 26px;
	margin:15px 0px;
}

//Verticl bars:

.vbar{
	width:0px;
	height:36px;
	margin:5px 10px;
	display:inline-block;
}
.vbar-green{
	border-left:1px solid #a5dc5b;
	border-right:1px solid #a5dc5b;
}

.vbar-red{
	border-left:1px solid #fc292b;
	border-right:1px solid #fc292b;
}
.vbar-yellow{
	border-left:1px solid #feb421;
	border-right:1px solid #feb421;
}
