<style>

.switch-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.switch-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.switch-toggle-round + label {
  padding: 2px;
  width: 100%;
  height: 0px;
  background-color: #d5d5d5;
  border-radius: 60px;
}
input.switch-toggle-round + label:before,
input.switch-toggle-round + label:after {
	display: block;
	position: absolute;
	top: -5px;
	left: 0px;
	content: "";
}
input.switch-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
input.switch-toggle-round + label:after {
	width: 15px;
	background-color: #435565;
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: left 0.4s;
	height: 15px;
}
input.switch-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.switch-toggle-round:checked + label:after {
  left: 99%;
}




.care-activities{
	width:20%;
}
.care-activities, .care-calendar-container{
	float:left;
}
.care-calendar-container{
	width:80%;
}
.care-row{
	height: 70px;
	line-height: 70px;
	padding: 0px 10px;
}
.care-activity-primary, .care-activity-secondary{
	border-top:1px solid #b0bac2;
}
.care-activity-primary, .row-primary{
	background-color:#f6f6f6;
}
.care-activity{
	border-top:1px dashed #b0bac2;
}
.year-calendar{
	text-align:center;
	width: 854px;
}
.months-row .cell{
	width:70px;
	float:left;
}
.cells-container .cell{
	width:70px;
	float:left;
	height:70px;
	line-height: 70px;
	border-left:1px dashed #b0bac2;
	border-bottom:1px dashed #b0bac2;
}
.months-row .cell{
	border-left:1px dashed #b0bac2;
	height: 100%;
}

.calendar-header .months-row{
	height:37.5px;
}
.calendar-header .year-cell{
	height:32.5px;
	border-left: 1px dashed #b0bac2;
	border-right: 1px dashed #b0bac2;
}
.row-primary .cell{
	border-bottom:none;
}
.row-primary, .row-secondary{
	border-top: 1px solid #b0bac2;
}
.year-cell .cell-container{
	background-color:#c6d3e0;
	height:100%;
	margin:0px 5px;
}
.calendar-header .cell-container{
	line-height:32px;
}
.months-row .cell-container{
	background-color:#c6d3e0;
	margin: 5px 2.5px 5px 2.5px;
	height: 70%;
}
.months-row .cell:first-child .cell-container{
	margin-left:5px;
}
.months-row .cell:last-child .cell-container{
	margin-right:5px;
}
.months-row .cell:last-child{
	border-right:1px dashed #b0bac2;
}
	.clear{
		clear:both;
	}
</style>

<div id="careplan-calendar">
	<div class="care-activities">
		<div class="care-row care-options">
			
			<div style="width:30%;float:left;">
				<span class="text-muted label font-regular">Monthly</span>
			</div>
			<div style="width:30%;float:left;">
				<div class="switch">
				  <input id="switch-toggle-1" class="switch-toggle switch-toggle-round" type="checkbox">
				  <label for="switch-toggle-1"></label>
				</div>
			</div>
			<div style="width:30%;float:left;">
				<span class="text-muted label font-regular">Daily</span>
			</div>
			<div class="clear"></div>
		</div>
		<div class="care-row care-activity-primary">
			Clinical Treatments
		</div>
		<div class="care-row care-activity-secondary">
			Medications
		</div>
		<div class="care-row care-activity">
			Lipitor
		</div>
		<div class="care-row care-activity">
			Naproxin
		</div>
	</div>
	
	<div class="care-calendar-container">							
		<div class="year-calendar">
			<div class="calendar-header">
				<div class="year-cell">
					<div class="cell-container">2017</div>
				</div>
				<div class="months-row">
					<div class="cell">
						<div class="cell-container">J</div>
					</div>
					<div class="cell">
						<div class="cell-container">F</div>
					</div>
					<div class="cell">
						<div class="cell-container">M</div>
					</div>
					<div class="cell">
						<div class="cell-container">A</div>
					</div>
					<div class="cell">
						<div class="cell-container">M</div>
					</div>
					<div class="cell">
						<div class="cell-container">J</div>
					</div>
					<div class="cell">
						<div class="cell-container">J</div>
					</div>
					<div class="cell">
						<div class="cell-container">A</div>
					</div>
					<div class="cell">
						<div class="cell-container">S</div>
					</div>
					<div class="cell">
						<div class="cell-container">O</div>
					</div>
					<div class="cell">
						<div class="cell-container">N</div>
					</div>
					<div class="cell">
						<div class="cell-container">D</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="cells-container">
				<div class="row-primary">
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="clear"></div>
				</div>
				<div class="row-secondary">
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="clear"></div>
				</div>
				<div class="row-cells">
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell">H</div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell">I</div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell">R</div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="clear"></div>
				</div>
				
				<div class="row-cells">
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell">H</div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell">I</div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="cell">R</div>
					<div class="cell"></div>
					<div class="cell"></div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>