<style>

/* .checkbox-primary */
.checkbox-primary {
	width: 26px;
	height: 26px;
	position: relative;
	margin: 20px auto;
	background: #b3bead;
}
.checkbox-primary label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	left: 3px;
	top: 3px;
	background-color:#fff;
}
.checkbox-primary label:after {
	content: '';
	width: 9px;
	height: 5px;
	position: absolute;
	top: 4px;
	left: 4px;
	border: 3px solid #ccc;
	border-top: none;
	border-right: none;
	background: transparent;
	opacity: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkbox-primary label:hover::after {
  opacity: 0.3;
}
.checkbox-primary input[type=checkbox] {
  visibility: hidden;
}
.checkbox-primary input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* end .checkbox-primary */

* {
  box-sizing: border-box;
}

body {
  background: #3498db;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
body h1, body h2, body em {
  color: #eee;
  font-size: 30px;
  text-align: center;
  margin: 20px 0 0 0;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0px 1px #000;
}
body em {
  font-size: 14px;
  text-align: center;
  display: block;
  margin-bottom: 50px;
}
body .ondisplay {
  text-align: center;
  padding: 20px 0;
}
body .ondisplay section {
  width: 100px;
  height: 100px;
  background: #555;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-top: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
body .ondisplay section:after {
  /*         visibility: hidden; */
  content: attr(title);
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 3px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0px 1px #000;
}

</style>

<h1>CSS3 Checkbox Styles</h1>
<em>Click any button below</em>


<div class="ondisplay">
  
  <section title=".squaredTwo">
    <!-- .squaredTwo -->
    <div class="checkbox-primary">
      <input type="checkbox" value="None" id="chk1" name="check" checked />
      <label for="chk1"></label>
    </div>
    <!-- end .squaredTwo -->
  </section>
  
</div>
