
<style>
	.progressbar-colored, .progressbar-colored * {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.progressbar-colored .progress-bar{
		position: relative;
		height: 2px;
		background: rgb(255, 0, 0);
		background: -moz-linear-gradient(left, rgba(255, 0, 0, 1) 0%,  rgba(255, 255, 0, 1) 50%, rgba(0, 255, 0, 1) 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 0, 0, 1)), color-stop(50%, rgba(255, 255, 0, 1)), color-stop(100%, rgba(0, 255, 0, 1)));
		background: -webkit-linear-gradient(left, rgba(255, 0, 0, 1) 0%,  rgba(255, 255, 0, 1) 50%, rgba(0, 255, 0, 1) 100%);
		background: -o-linear-gradient(left, rgba(255, 0, 0, 1) 0%,  rgba(255, 255, 0, 1) 50%, rgba(0, 255, 0, 1) 100%);
		background: -ms-linear-gradient(left, rgba(255, 0, 0, 1) 0%,  rgba(255, 255, 0, 1) 50%, rgba(0, 255, 0, 1) 100%);
		background: linear-gradient(to right, rgba(255, 0, 0, 1) 0%,  rgba(255, 255, 0, 1) 50%, rgba(0, 255, 0, 1) 100%);
		filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#00ff00', GradientType=1);
	}
	.progress-label{
		width: 54px;
		height: 36px;
		position: relative;
		top: -20px;
		padding: 1px;
	}
	.progressbar-colored .label{
		height: 100%;
		width: 100%;
		text-align: center;
		background-color: #FFF;
		padding: 1px;
		font-size: 12px;
	}
	.progressbar-colored{
		padding:15px 26px;
		margin:20px 0px;
	}
	.vbar{
		width:0px;
		height:10px;
		margin:5px 10px;
		display:inline-block;
	}
	.vbar-green{
		border-left:1px solid #a5dc5b;
		border-right:1px solid #a5dc5b;
	}
	
	.vbar-red{
		border-left:1px solid #fc292b;
		border-right:1px solid #fc292b;
	}
	.vbar-yellow{
		border-left:1px solid #feb421;
		border-right:1px solid #feb421;
	}
</style>

<div id="p1" class="progressbar-colored">
	<div class="progress-bar"></div>
	<div class="progress-label">
		<div id="label" class="label">120 mg/dL</div>
	</div>
</div>

<span class="vbar vbar-green" data-progress="40" data-maxval="200" ></span>
<span class="vbar vbar-red" data-progress="60" data-maxval="200" ></span>
<span class="vbar vbar-yellow" data-progress="30" data-maxval="200" ></span>
<span class="vbar vbar-green" data-progress="70" data-maxval="200" ></span>


<script type="text/javascript">
	function setColoredProgressbar(p, progressbar_id){
		
		//Configuring start/middle/end color for the progress bar:...
		var gr = new GradientReader([{stop: 0.0, color: '#f00'},
                             {stop: 0.5, color: '#ff0'},
                             {stop: 1.0, color: 'rgb(79,189,0)'}]);
		
		//Getting DOM elements for the progressbar:...
		prog = document.getElementById(progressbar_id).getElementsByClassName('progress-bar')[0];
		plabel = document.getElementById(progressbar_id).getElementsByClassName('progress-label')[0];
		
		width = prog.offsetWidth; //bar
		pwidth = plabel.offsetWidth; //label
		
		//Calculate the percentages
		label_percentage = pwidth/width; //label width percentage on the whole progress bar
		start_percentage = p - (label_percentage/2); //on the start point of the label
		end_percentage = p + (label_percentage/2); //on the end point of the label
		
		//Move the label:
		dist = width*start_percentage;
		plabel.style.left = dist+"px";
		
		//Calculating the start/middle/end color:
		col = gr.getColor(start_percentage*100);
		col1 = 'rgba(' + col[0] + ',' + col[1] + ',' + col[2] + ',1)';
		col = gr.getColor(p*100);
		col2 = 'rgba(' + col[0] + ',' + col[1] + ',' + col[2] + ',1)';
		col = gr.getColor(end_percentage*100);
		col3 = 'rgba(' + col[0] + ',' + col[1] + ',' + col[2] + ',1)';
		
		//Setting label color:
		plabel.style.background = "-moz-linear-gradient(left, "+col1+" 0%,  "+col2+" 50%, "+col3+" 100%)";
	}
	
	// our object
	function GradientReader(colorStops) {
	
		var canvas = document.createElement('canvas'),
			ctx = canvas.getContext('2d'),
			gr = ctx.createLinearGradient(0, 0, 101, 0),
			i = 0, cs;
		
		canvas.width = 101;
		canvas.height = 1;
		
		for(; cs = colorStops[i++];)
			gr.addColorStop(cs.stop, cs.color);
		
		ctx.fillStyle = gr;
		ctx.fillRect(0, 0, 101, 1);
		
		this.getColor = function(pst) {
			return ctx.getImageData(pst|0, 0, 1, 1).data;
		};
	}

	function setVbarProgress(){
		vbars = document.getElementsByClassName('vbar');
		for(i=0; i< vbars.length; i++){
			vbar = vbars[i];
			percentage = vbar.getAttribute("data-progress");
			max =vbar.getAttribute("data-maxval");
			h = max * percentage/100;
			vbar.style.height=h+"px";
		}
	}
	
	setColoredProgressbar(0.7, "p1");
	setVbarProgress();
</script>