<style>
	.switch-toggle {
	  position: absolute;
	  margin-left: -9999px;
	  visibility: hidden;
	}
	.switch-toggle + label {
	  display: block;
	  position: relative;
	  cursor: pointer;
	  outline: none;
	  user-select: none;
	}

	input.switch-toggle-round + label {
	  padding: 2px;
	  width: 100%;
	  height: 0px;
	  background-color: #d5d5d5;
	  border-radius: 60px;
	}
	input.switch-toggle-round + label:before,
	input.switch-toggle-round + label:after {
		display: block;
		position: absolute;
		top: -5px;
		left: 0px;
		content: "";
	}
	input.switch-toggle-round + label:before {
	  right: 1px;
	  background-color: #f1f1f1;
	  border-radius: 60px;
	  transition: background 0.4s;
	}
	input.switch-toggle-round + label:after {
		width: 15px;
		background-color: #435565;
		border-radius: 100%;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
		transition: left 0.4s;
		height: 15px;
	}
	input.switch-toggle-round:checked + label:before {
	  background-color: #8ce196;
	}
	input.switch-toggle-round:checked + label:after {
	  left: 99%;
	}
</style>

<div class="switch">
  <input id="switch-toggle-1" class="switch-toggle switch-toggle-round" type="checkbox">
  <label for="switch-toggle-1"></label>
</div>