<table class="table-panel">
	<thead>
		<tr>
			<th>Lab Tests</th>
			<th>
				<span class="m30-r text-italic text-muted font-regular"><i class="circle-red-x1"></i>Critical</span>
				<span class="m30-r text-italic text-muted font-regular"><i class="circle-yellow-x1"></i>Borderline</span>
				<span class="m30-r text-italic text-muted font-regular"><i class="circle-green-x1"></i>Well</span>
			</th>
			<th>
				<span class="m-r">History</span>
				<span class="m30-r text-italic text-muted font-regular">2008 - 2016</span>
				<i class="icon-calendar"></i>
			</th>
			<th>
				<span>Related Conditions & Risks</span>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<div class="list-item">
					<p class="text-medium text-gray font-semibold">Cholesterol</p>
					<p class="text-muted text-italic">Ideal is <200 mg&#47;dL</p>
				</div>
				<div class="list-item">
					<p class="text-medium text-gray font-semibold">HDL</p>
					<p class="text-muted text-italic">Ideal is >40 mg&#47;dL</p>
				</div>
				<div class="list-item">
					<p class="text-medium text-gray font-semibold">LDL</p>
					<p class="text-muted text-italic">Ideal is <100 mg&#47;dL</p>
				</div>
				<div class="list-item">
					<p class="text-medium text-gray font-semibold">Triglyceride</p>
					<p class="text-muted text-italic">Ideal is <149 mg&#47;dL</p>
				</div>
			</td>
			<td></td>
			<td></td>
			<td>
				<p class="text-muted">Atrial Fibrillation<i class="fa fa-info-circle"></i></p>
				<p class="text-muted">Venous Tromboembolism<i class="fa fa-info-circle"></i></p>
			</td>
		</tr>
		<tr>
			<td colspan="4">
				<div class="row">
					<div class="col-md-2">
						<span class="text-medium text-gray font-semibold">Conclusion</span>
					</div>
					<div class="col-md-10 text-muted text-desc1">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo ut perspiciatis unde omnis iste natus voluptatem accusantium doloremque totam rem aperiam ipsa quae ab illo ut perspiciatis unde omnis.
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>